<!doctype html>
<html lang="en" layout:decorate="~{layout/baseLayout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
</head>

<body>

	<div layout:fragment="content">
		<main id="main" class="main">

			<div class="section">

				<div class="row">
					<div class="col-lg-8 offset-2">
						<div class="card">
							<div class="card-body">
								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">Add Account</h5>
								</div>
								<form th:action="@{/admin/register}" method="post" th:object="${admin}"
									class="row g-3 needs-validation" novalidate>
									<div class="col-12">
										<label for="yourName" class="form-label">Your Name</label>
										<input type="text" name="name" class="form-control" id="yourName"
											th:field="*{your_name}" required>
										<div class="invalid-feedback">Please, enter your name!</div>
									</div>

									<div class="col-12">
										<label for="yourEmail" class="form-label">Your Email</label>
										<input type="email" name="email" class="form-control" id="yourEmail"
											th:field="*{your_email}" required>
										<div class="invalid-feedback">Please enter a valid Email adddress!</div>
									</div>

									<div class="col-12">
										<label for="yourUsername" class="form-label">Username</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend">@</span>
											<input type="text" name="username" class="form-control" id="yourUsername"
												th:field="*{username}" required>
											<div class="invalid-feedback">Please choose a username.</div>
										</div>
									</div>

									<div class="col-12">
										<label for="yourPassword" class="form-label">Password</label>
										<input type="password" name="password" class="form-control" id="yourPassword"
											th:field="*{password}" required>
										<div class="invalid-feedback">Please enter your password!</div>
									</div>

									<div class="col-5">
										<select class="form-select" th:field="*{role}"
											aria-label="Default select example">
											<option value="ROLE_USER">ROLE_USER</option>
											<option value="ROLE_ADMIN">ROLE_ADMIN</option>
										</select>
									</div>

									<div class="col-12">
										<div class="form-check">
											<input class="form-check-input" name="terms" type="checkbox" value=""
												id="acceptTerms" required>
											<label class="form-check-label" for="acceptTerms">I agree and accept
												the
												<a href="#">terms and conditions</a></label>
											<div class="invalid-feedback">You must agree before submitting.
											</div>
										</div>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100" type="submit">Create
											Account</button>
									</div>

								</form>

							</div>

						</div>
					</div>

				</div>

			</div>
		</main>
	</div>

</body>

</html>